<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action = "/api/neta" method = "POST">
        <h1>Form for adding new Neta</h1>
        <input type="text" name="name" placeholder="Enter Name">
        <input type="text" name="party" placeholder="Enter Party">
        <input type="text" name="isMale" placeholder="IsMale">
        <input type="text" name="isCorrupt" placeholder="IsCorrupt">
        <button type="submit">Submit</button>
    </form>
</body>
</html>